.main_statistics {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .stats {
    width: 70%;
    height: 300px;
    border: 2px solid #5592f6;
    display: flex;
    justify-content: center;
    align-items: center;
    table {
      width: 50%;
      tr {

        td {
          border: 2px solid #5592f6;
          text-align: center;
        }
      }
    }
  }
}
